body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container h1{
    color: white;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
button{
    height: 80px;
    width: 200px;
    border-radius: 5px;
    outline: none;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
button:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

.generate p{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}